*{
	margin: 0;
	padding: 0;
}
@font-face{
  font-family: dancing;
  src: url('../font/DancingScript-Regular.ttf');
}
header{
	width: 100%;
	height: auto;
	background-color:  #5b7989;
	margin: auto;
	display: flex;
	animation: miAnimacion 3s;
	border-radius: 10px 10px 0 0;
	font-family: dancing;
}
@-webkit-keyframes miAnimacion {
0%{
margin-top: 150%;
}
60%{
margin-top: -5%;
}
100%{
margin-top: 0%;
}
}
header h1{
	width: 60%;
	color: #fff;
	text-align: center;
}
nav{
	width: 40%;
	text-align: right;
	padding-top: 10px;	
	text-align: center;
}

nav ul li{
	display: inline;
}
nav ul li a{
	text-decoration: none;
	font-size: 3vh;
	letter-spacing: 2px;
	margin-right: 15px;
	color: #fff;
}
@media (max-width: 420px){
	header{
		flex-direction: column;
	}
	header h1{
		width: 100%;
		text-align: center;
	}
	header nav {
		width: 100%;
		text-align: center;
		letter-spacing: 1px;
	}
}
@media (min-width: 421px) and (max-width: 720px){
	header{
		flex-direction: column;
	}
	header h1{
		width: 100%;
		text-align: center;
	}
	header nav {
		width: 100%;
		text-align: center;
		letter-spacing: 1px;
	}
	header nav ul li a{
		font-size: 20px;
	}
}
.cuerpo{
  width: 100%;
  margin-left: auto;
  padding-bottom: 10%;
  background-color: #d5c75f;
}
.main1{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.main1 img{
  width: 25%;
  height: 25%;
  margin-left: 5%;
  margin-top: 20px;
  box-shadow:2px 2px 2px  #02010a;
}
.main2{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.main2 img{
  width: 25%;
  height: 25%;
  margin-left: 5%;
  margin-top: 20px;
  box-shadow:2px 2px 2px  #02010a;
}
#contenedor1{
  -webkit-filter: blur(10px);
}
#contenedor2, #contenedor4, #contenedor6{
  -webkit-filter: grayscale(100%)
}
#contenedor3{
  -webkit-filter: sepia(90%);
}
@media (max-width: 420px){
	.cuerpo, .main1, .main2{
		flex-direction: column;
	}
	#contenedor1, #contenedor2, #contenedor3, #contenedor4, #contenedor5, #contenedor6{
		width: 90%;
	}
}
@media (min-width: 421px) and (max-width: 720px){
	.cuerpo, .main1, .main2{
		flex-direction: column;
	}
	#contenedor1, #contenedor2, #contenedor3, #contenedor4, #contenedor5, #contenedor6{
		width: 90%;
	}
}

footer{
	width: 100%;
	height: auto;
	display: flex;
	background-color: #C6d5c5;
}
#nosotros{
	width: 25%;
	height: auto;
}
#contactos{
	width: 25%;
	height: auto;
}
#redes_sociales{
	width: 25%;
	height: auto;
}
#derechos{
	width: 25%;
	height: auto;
}
@media (max-width: 420px) {
	footer, #nosotros, #contactos, #redes_sociales, #derechos{
		flex-direction: column;
		width: 100%;
		height: auto;
		text-align: center;
	}
	img{
		width: 5%;
		height: auto;
	}
}
@media (min-width: 421px) and (max-width:720px){
	footer, #nosotros, #contactos, #redes_sociales, #derechos{
		flex-direction: column;
		width: 100%;
		height: auto;
		text-align: center;
	}
	img{
		width: 5%;
		height: auto;
	}
}
@media (min-width: 721px) {
	footer, #nosotros, #contactos, #redes_sociales, #derechos{
		width: 100%;
		height: auto;	
	}
	img{
		width: 10%;
		height: auto;
	}
	
}
h3{
	text-align: center;
	font-family: dancing;
	font-size: 25px;
}
p{
	font-family: dancing;
	text-align: center;
}









